<style type="text/css">
  .audioButton {
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    cursor:pointer;
  }
</style>

<body>
  <%= audio_tag('高久うんこ.m4a', id: 'audio1') %>
  <%= audio_tag('綿引うんこ.m4a', id: 'audio2') %>
  <%= audio_tag('押田うんこ.m4a', id: 'audio3') %>
  <%= audio_tag('根岸うんこ.m4a', id: 'audio4') %>
  <%= audio_tag('森泉うんこ.m4a', id: 'audio5') %>
  <%= audio_tag('三宅うんこ.m4a', id: 'audio6') %>

  <%= button_tag type: 'button', id: 'play' do %>
    <%= image_tag('うんこ君.gif', class: 'audioButton') %>
  <% end %>

  <%= javascript_tag do %>
    var playbutton = document.getElementById('play');
    playbutton.addEventListener('click', function() {
      var random = Math.floor(Math.random() * 6);
      switch(random) {
        case 0:
            audio1.play();
            break;
        case 1:
            audio2.play();1
            break;
        case 2:
            audio3.play();1
            break;
        case 3:
          audio4.play();1
          break;
        case 4:
          audio5.play();1
          break;
        case 5:
          audio6.play();1
          break;
      };
    });
  <% end %>
</body>
